<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<body>

    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

    <script>
var xValues = ["Bulaşık Deterjanı", "Toz Deterjan", "Sıvı Sabun", "Şampuan", "Temzilik Bezi"];
var yValues = [@ViewBag.p1, @ViewBag.p2, @ViewBag.p3, @ViewBag.p4, @ViewBag.p5];
var barColors = ["red", "green","blue","orange","brown"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Ürün Stok Grafiği @DateTime.Now.Year"
    }
  }
});
    </script>

</body>
</html>
