@using Crm.EntityLayer.Concrete
@model List<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CrmLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Alış Fiyatı</th>
        <th>Satış Fiyatı</th>
        <th>Stok Sayısı</th>
        <th>Ürün Kodu</th>
        <th>Kategori</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.ProductPurchasePrice</td>
            <td>@item.ProductSalePrice</td>
            <td>@item.ProductStock</td>
            <td>@item.ProductCode</td>
            <td>@item.Category.CategoryName</td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="#" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="#" class="btn btn-outline-primary">Yeni Ürün Girişi</a>